/* Estilos generales de la aplicación */
.App {
  text-align: center;
}

/* Logo de la aplicación */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* Animación del logo solo si no hay preferencia por reducir movimiento */
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Encabezado de la aplicación */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Enlaces de la aplicación */
.App-link {
  color: #61dafb;
}

/* Animación del logo giratorio */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
